<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
    <div class="container">
        <h3 class="mt-5">Pon en el enlace un número del 1 al 4, la cantidad de pokemon que definí, siguiendo el modelo http://localhost:8000/pokemon/1</h3>
    </div>
</body>
</html>
